#ogame-tracker-menu-item__v2 {
    position: relative;

    .menubutton {
        /* START: taken from ogame styles */
        background: url("https://gf3.geo.gfsrv.net/cdneb/f5f81e8302aaad56c958c033677fb8.png") -374px -258px no-repeat;
        height: 29px;
        text-align: center;
        line-height: 25px;
        width: 136px;
        color: #767f88;
        display: block;
        font: bold 11px/25px verdana, arial, helvetica, sans-serif;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            background-position: -374px -287px;
            color: white;
        }
        /* END: taken from ogame styles */

        &::before {
            content: "OGame Tracker";
        }
    }

    .icon {
        cursor: pointer;
        background: url(#{$base-url}/img/menu-icon-background.png);

        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 19px;

        > .mdi {
            opacity: 0.3;
            color: white;
            margin-bottom: 5px;
        }

        &:hover > .mdi {
            opacity: 1;
            color: #e59a4b;
        }
    }

    .warning-lang-not-supported {
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        left: 0;
        top: 0;
        width: 22px;
        height: 100%;
        transform: translateX(-100%);

        cursor: help;
        font-size: 20px;
    }
}

$dialog-padding: 25px;
#ogame-tracker-dialog__v2 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000001;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: $dialog-padding;
    background: rgba(black, 0.5);

    > iframe {
        width: 100%;
        height: 100%;
        border-radius: 4px;
    }
}
