.ogame-tracker-dialog {
    color: white;
    font-family: Verdana, Arial, SunSans-Regular, sans-serif;
    font-size: 14px;

    * {
        box-sizing: border-box;
    }

    @import "scrollbar.scss";
    @import "inputs.scss";
    @import "tables.scss";
    @import "common.scss";
    @import "headers.scss";

    @import "stats-dialog.scss";
    @import "notifications.scss";
    @import "icons.scss";
    @import "charts.scss";
    @import "tab-view.scss";
    @import "settings.scss";
    @import "utils.scss";
}
