.ogame-tracker-dialog {
    color: white;
    font-family: Verdana, Arial, SunSans-Regular, sans-serif;
    font-size: 14px;

    hr {
        border-color: rgba(var(--color), 0.3);
        border-width: 1px;
        border-top-width: 0;
    }

    input,
    select {
        color: inherit;

        &:focus {
            outline: none;
        }
    }

    select > option {
        background: #050505;
        color: inherit;
    }

    *::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background: none;
    }

    *::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background: rgba(var(--color), 0.35);

        &:hover {
            background: rgba(var(--color), 0.75);
        }
    }

    table {
        border-spacing: 0;
        border-collapse: collapse;

        width: 100%;
        text-align: right;

        border: 1px solid rgba(var(--color), 0.5);

        thead {
            background: rgba(var(--color), 0.5);
        }

        tbody {
            tr:nth-of-type(even) {
                background: rgba(var(--color), 0.01);
            }

            tr:hover {
                background: rgba(var(--color), 0.05);
            }
        }

        td,
        th {
            padding: 8px;
        }

        tr.total-row {
            border-top-style: double;
            font-weight: bold;
            background: rgba(var(--color), 0.1) !important;
        }
    }

    .notification-center {
        position: fixed;
        top: 0;
        right: 0;
        margin: 8px;
        z-index: 10000;
        display: flex;
        flex-direction: column;
    }

    .notification {
        width: 250px;
        min-height: 80px;
        border-radius: 4px;
        margin-bottom: 8px;
        cursor: pointer;
        transition: opacity 250ms;
        opacity: 1;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);

        &.info {
            background: linear-gradient(225deg, #0a3471, #0a1f3c);
        }
        &.success {
            background: linear-gradient(225deg, #3c9c0b, #06540c);
        }
        &.warning {
            background: linear-gradient(225deg, #d48900, #ab4a05);
        }
        &.error {
            background: linear-gradient(225deg, #bd1111, #6f0b0b);
        }

        &.hidden {
            opacity: 0;
        }

        .title {
            text-align: center;
            padding: 12px;
            font-weight: bold;
            background: rgba(0, 0, 0, 0.5);
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        .body {
            text-align: left;
            padding: 12px;
        }
    }

    .stats-dialog {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10000;
        padding: 50px;

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            background: rgba(0, 0, 0, 0.5);
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }

    .stats-dialog-content {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: auto 1fr;
        border-radius: 6px;
        overflow: hidden;

        background-color: black;
        background-image: linear-gradient(52deg, rgba(var(--color), 0.02), rgba(var(--color), 0.08));
    }

    .stats-dialog-nav {
        display: flex;
        flex-direction: row;
        border-bottom: 2px solid rgb(var(--color));
    }

    .flex-grow-1 {
        flex-grow: 1;
    }

    .nav {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 0;
        flex-grow: 1;

        .nav-item {
            line-height: 50px;
            height: 50px;
            font-size: 13px;
            padding: 0 16px;
            cursor: pointer;
            display: flex;
            align-items: center;

            .mdi {
                font-size: 24px;
                margin-right: 6px;
            }

            &:hover {
                background: linear-gradient(180deg, rgba(var(--color), 0.25), rgba(var(--color), 0.5));
            }

            &-active,
            &-active:hover {
                background: linear-gradient(180deg, rgba(var(--color), 0.5), rgb(var(--color)));
            }
        }
    }

    .close-stats-dialog-wrapper {
        min-width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }

    .close-stats-dialog-button {
        cursor: pointer;
        color: grey;

        &:hover {
            color: white;
        }
    }

    .stats-dialog-body {
        overflow: hidden;
        padding: 16px;
    }

    .icon-expo,
    .icon-attack,
    .icon-wreckfield {
        display: inline-block;
        width: 1em;
        height: 1em;
        position: relative;
        font-size: 36px;

        &::before {
            content: "";
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .icon-expo::before {
        background-image: url(~@/assets/icons/expedition.svg);
    }
    .icon-attack::before {
        background-image: url(~@/assets/icons/attack.svg);
    }
    .icon-wreckfield::before {
        background-image: url(~@/assets/icons/wreckfield.svg);
    }

    .line-chart {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: 1fr 200px;

        &.no-legend {
            grid-template-columns: 1fr;
        }
    }

    .dataset-label {
        padding: 8px;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        user-select: none;

        .dataset-color {
            width: 16px;
            height: 16px;
            display: inline-block;
            border-radius: 3px;
            margin-right: 4px;
        }

        &.hidden {
            text-decoration: line-through;
            opacity: 0.4;

            .dataset-color {
                filter: grayscale(100%);
            }
        }
    }

    .scrollable-chart {
        display: grid;
        grid-template-rows: 1fr 20px;
    }

    .chart-scrollbar-container {
        position: relative;
        padding-left: 100px;
        padding-top: 10px;

        .chart-scrollbar {
            overflow-x: auto;
            direction: rtl;
            cursor: pointer;

            .thumb {
                height: 1px;
            }
        }
    }

    $vertical-tab-nav-width: 150px;
    $horizontal-tab-nav-height: 40px;

    .tab-view {
        display: grid;

        width: 100%;
        height: 100%;

        grid-template-columns: auto;
        grid-template-rows: $horizontal-tab-nav-height 1fr;

        .tab-nav-item {
            padding: 16px;
            cursor: pointer;
            border-radius: 4px;

            &:hover {
                background: linear-gradient(90deg, rgba(var(--color), 0.3) 30%, rgba(var(--color), 0.15));
            }

            &.active,
            &.active:hover {
                background: linear-gradient(90deg, rgba(var(--color), 0.7) 30%, rgba(var(--color), 0.4));
            }
        }
    }

    .tab-view.tab-view-vertical {
        grid-template-rows: auto;
        grid-template-columns: $vertical-tab-nav-width 1fr;
    }

    .tab-content {
        padding: 0 16px;
    }

    .tab-content,
    .tab-nav-list {
        height: 100%;
        max-height: 100%;
        overflow: auto;
    }

    .item-fake-chart-wrapper {
        padding-left: 100px;
        height: 100%;
        $col-width: 50px;

        .item-fake-chart {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            min-height: 100%;
            max-height: 100%;
            overflow-x: auto;
            padding-left: 16px;
        }

        .item-column {
            min-height: 100%;
            max-height: 100%;
            display: grid;
            grid-template-rows: 1fr 100px;
            width: $col-width;
        }

        .item-list {
            display: flex;
            flex-direction: column-reverse;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                top: 0;
                bottom: 0;
                left: 50%;
                width: 0.5px;
                transform: translateX(-50%);
                background: rgba(255, 255, 255, 0.1);
            }

            & > div {
                width: $col-width;
                text-align: center;
                margin-bottom: 4px;
            }
        }

        .label {
            height: 100px;
            width: $col-width;

            & > span {
                transform: translateX(-50%) rotate(-60deg);
                transform-origin: right;
                display: inline-block;
                font-size: 10px;
            }
        }

        .item-image {
            border: 2px solid;
            border-radius: 4px;

            &.grade-none {
                border-color: $ogame-item-grade-none;
            }

            &.grade-bronze {
                border-color: $ogame-item-grade-bronze;
            }

            &.grade-silver {
                border-color: $ogame-item-grade-silver;
            }

            &.grade-gold {
                border-color: $ogame-item-grade-gold;
            }

            &.grade-platinum {
                border-color: $ogame-item-grade-platinum;
            }
        }
    }

    .color-input {
        display: inline-flex;
        align-items: center;
        cursor: pointer;

        & > .color {
            height: 24px;
            width: 24px;
            display: inline-block;
            border-radius: 3px;
            margin-right: 4px;
        }

        & > input[type="color"] {
            width: 0;
            height: 0;
            box-sizing: border-box;
            padding: 0;
            border: none;
            transform: scale(0);
            display: inline;
        }
    }

    .settings {
        max-height: 100%;
        overflow: auto;
    }

    .settings-table {
        width: auto;
        text-align: left;
        font-size: 14px;

        .name-col {
            padding: 0;

            & > * {
                padding: 8px;
            }
        }

        input:not([type]),
        input[type="text"],
        input[type="number"],
        select {
            background: rgba(200, 200, 255, 0.01);
            border: none;
            font-size: 14px;
        }

        .value-col {
            input[type="number"] {
                padding: 8px;
                width: 64px;
            }

            select {
                padding: 8px;
                width: 96px;
            }
        }

        .mdi {
            font-size: 20px;
        }
    }

    .color-row {
        padding: 8px 0;
    }

    .clickable {
        cursor: pointer;
    }

    .color-tables {
        display: flex;

        table {
            min-width: 200px;
            margin-right: 6px;
        }
    }
}
