$ogame-blue: #0066ff;

$ogame-item-grade-none: #2374ba;
$ogame-item-grade-bronze: #834b2d;
$ogame-item-grade-silver: #8d939c;
$ogame-item-grade-gold: #ffb84a;
$ogame-item-grade-platinum: #7e3d8e;