@import "env.scss";

[class^="icon-"] {
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    font-size: 26px;
    margin-right: 6px;
    filter: invert(1);

    &::before {
        content: "";
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.icon-expo,
.icon-wreckfield,
.icon-attack {
    font-size: 36px;
    filter: none;
}

.icon-expo::before {
    background-image: url(#{$base-url}/icons/expedition.svg);
}
.icon-attack::before {
    background-image: url(#{$base-url}/icons/attack.svg);
}
.icon-wreckfield::before {
    background-image: url(#{$base-url}/icons/wreckfield.svg);
}
.icon-cog::before {
    background-image: url(#{$base-url}/icons/cog.svg);
}
.icon-microsoft-excel::before {
    background-image: url(#{$base-url}/icons/microsoft-excel.svg);
}
