@import "env.scss";

[class^="icon-"] {
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    font-size: 26px;
    filter: invert(1);

    &::before {
        content: "";
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    & + * {
        margin-left: 6px;
    }
}

$mdi-icons: ("cog", "microsoft-excel", "plus", "minus", "close", "refresh", "tools", "information", "alert");
$custom-icons: ("expo", "attack", "debris-field", "economy", "planet-moon");


@each $icon in $mdi-icons {
    .icon-#{$icon}::before {
        background-image: url(#{$base-url}/icons/#{$icon}.svg);
    }
}

@each $icon in $custom-icons {
    .icon-#{$icon} {
        font-size: 36px;
        filter: none;
    }
    .icon-#{$icon}::before {
        background-image: url(#{$base-url}/icons/#{$icon}.svg);
    }
}
