input:not([type]),
input[type="text"],
input[type="number"],
select {
    color: white !important;
    background: rgba(var(--color), 0.1) !important;
    font-size: 14px;
    border: 0 !important;
    padding: 8px;
    visibility: visible !important;

    &:focus {
        outline: none;
    }
}

select > option {
    background: #050505 !important;
    color: white !important;
    font-size: 14px;
    border: 0 !important;
}

button {
    color: white !important;
    background: rgba(var(--color), 0.5) !important;
    font-size: 14px;
    padding: 8px;
    visibility: visible !important;
    border: 1px solid rgb(var(--color));
    border-radius: 4px;
    cursor: pointer;

    &:not(:disabled) {
        &:hover {
            background: rgba(var(--color), 0.8) !important;
        }

        &:active {
            background: rgba(var(--color), 0.7) !important;
        }
    }
}

input,
select,
button {
    &:disabled {
        filter: grayscale(1) brightness(0.5);
    }
}
