input,
select {
    color: white !important;
    font-size: 14px;
    border: 0 !important;

    &:focus {
        outline: none;
    }
}

select > option {
    background: #050505 !important;
    color: white !important;
    font-size: 14px;
    border: 0 !important;
}