input,
select {
    color: white;
    color: inherit;
    font-size: 14px;
    border: 0 !important;

    &:focus {
        outline: none;
    }
}

select > option {
    background: #050505;
    color: inherit;
    font-size: 14px;
    border: 0 !important;
}