@import "env.scss";

.statistics-menu-icon {
    display: block;
    width: 27px;
    height: 27px;
    background: transparent url(#{$base-url}/img/menu-icon-background.png) 0 0 no-repeat;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        transform: translate(-50%, -50%) translateY(-1px);
        background-image: url(#{$base-url}/icons/finance.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        filter: invert(1);
        opacity: 0.2;
    }
}

@keyframes extension-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#fleetsgenericpage {
    .msg-extension-read {
        .msg_status::before {
            background: url(#{$base-url}/icons/check.svg) no-repeat center center !important;
            background-size: contain !important;
            filter: invert(1);
        }
    }

    .msg-extension-loading {
        .msg_status::before {
            background: url(#{$base-url}/icons/loading.svg) no-repeat center center !important;
            background-size: contain !important;
            animation: extension-loading 1s linear infinite;
            filter: invert(1);
        }
    }

    .msg {
        padding-left: 24px !important;

        .msg_status {
            width: 24px !important;
            left: 4px !important;
            background: none;
            background-color: transparent !important;

            &::before {
                width: 100% !important;
                max-height: 100% !important;
                background: none;
            }
        }

        &.msg-error {
            background: #2f0909 !important;
        }
    }

    .msg_ctn2 {
        width: 287px !important;
    }
}
