.color-input {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    & > .color {
        height: 24px;
        width: 24px;
        display: inline-block;
        border-radius: 3px;
        margin-right: 4px;
    }

    & > input[type="color"] {
        width: 0;
        height: 0;
        box-sizing: border-box;
        padding: 0;
        border: none;
        transform: scale(0);
        display: inline;
    }
}

.settings {
    max-height: 100%;
    overflow: auto;
}

.settings-table {
    width: auto;
    text-align: left;
    font-size: 14px;

    .name-col {
        padding: 0;

        & > * {
            padding: 8px;
        }
    }

    .value-col {
        input[type="number"] {
            width: 64px;
        }

        select {
            width: 96px;
        }
    }

    .mdi {
        font-size: 20px;
    }
}

.color-row {
    padding: 8px 0;
}

.clickable {
    cursor: pointer;
}

.color-tables {
    display: flex;

    table {
        min-width: 200px;
        margin-right: 6px;
    }
}
