table {
    border-spacing: 0;
    border-collapse: collapse;

    width: 100%;
    text-align: right;

    border: 1px solid rgba(var(--color), 0.5);

    thead {
        background: rgba(var(--color), 0.5);
    }

    tbody {
        tr:nth-of-type(even) {
            background: rgba(var(--color), 0.01);
        }

        tr:hover {
            background: rgba(var(--color), 0.05);
        }
    }

    td,
    th {
        padding: 8px;
    }

    tr.total-row {
        border-top-style: double;
        font-weight: bold;
        background: rgba(var(--color), 0.1) !important;
    }
}
