table {
    border-spacing: 0;
    border-collapse: collapse;

    width: 100%;
    text-align: right;

    border: 1px solid rgba(var(--color), 0.5);

    thead {
        td,
        th {
            background-image: linear-gradient(0deg, rgba(var(--color), 0.5), rgba(var(--color), 0.5)),
                linear-gradient(0deg, black, black);
        }
    }

    tbody {
        tr:nth-of-type(even) {
            background: rgba(var(--color), 0.01);
        }

        tr:hover {
            background: rgba(var(--color), 0.05);
        }
    }

    td,
    th {
        padding: 8px;
    }

    tr.total-row {
        border-top-style: double;
        font-weight: bold;
        background: rgba(var(--color), 0.1) !important;
    }
}

.grid-table {
    display: grid;
    grid-template-columns: repeat(var(--cols), auto);
    overflow: auto;

    width: 100%;
    text-align: right;

    border: 1px solid rgba(var(--color), 0.5);

    .grid-table-head {
        display: contents;

        .grid-table-cell {
            background: rgba(var(--color), 0.5);
        }
    }

    &.sticky-header .grid-table-head .grid-table-cell {
        background-image: linear-gradient(0deg, rgba(var(--color), 0.5), rgba(var(--color), 0.5)),
            linear-gradient(0deg, black, black);
        position: sticky;
        top: 0;
    }

    .grid-table-body {
        display: contents;

        .grid-table-row:nth-of-type(even) .grid-table-cell {
            background: rgba(var(--color), 0.01);
        }

        .grid-table-row:hover .grid-table-cell {
            background: rgba(var(--color), 0.05);
        }

        .grid-table-cell {
            z-index: -1;
        }
    }

    .grid-table-row {
        display: contents;
    }

    .grid-table-cell {
        padding: 8px;
    }

    .grid-table-row.total-row .grid-table-cell {
        border-top-style: double;
        font-weight: bold;
        background: rgba(var(--color), 0.1) !important;
    }
}
