@for $i from 0 through 100 {
    .min-h-#{$i} {
        min-height: #{$i + "%"} !important;
    }
    .min-w-#{$i} {
        min-width: #{$i + "%"} !important;
    }

    .min-max-h-#{$i} {
        min-height: #{$i + "%"} !important;
        max-height: #{$i + "%"} !important;
    }

    .min-max-w-#{$i} {
        min-width: #{$i + "%"} !important;
        max-width: #{$i + "%"} !important;
    }
}
