// chrome
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(var(--color), 0.35);

    &:hover {
        background: rgb(var(--color));
    }
}

::-webkit-scrollbar-corner {
    background: none;
}

// firefox fallback
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(var(--color)) transparent;
}