@font-face {
  font-family: 'ogti';
  src:
    url('chrome-extension://__MSG_@@extension_id__/ogti/ogame-tracker-icons.ttf?g64lcw') format('truetype'),
    url('chrome-extension://__MSG_@@extension_id__/ogti/ogame-tracker-icons.woff?g64lcw') format('woff'),
    url('chrome-extension://__MSG_@@extension_id__/ogti/ogame-tracker-icons.svg?g64lcw#ogti') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ogti {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ogti' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ogti-dna:before {
  content: "\e900";
}
.ogti-planet-moondna:before {
  content: "\e908";
}
.ogti-attack:before {
  content: "\e901";
  color: #fff;
}
.ogti-debris-field:before {
  content: "\e902";
  color: #fefefe;
}
.ogti-discord:before {
  content: "\e903";
  color: #fff;
}
.ogti-economy:before {
  content: "\e904";
  color: #fff;
}
.ogti-expedition:before {
  content: "\e905";
  color: #fff;
}
.ogti-moon:before {
  content: "\e906";
  color: #fff;
}
.ogti-planet:before {
  content: "\e907";
  color: #fff;
}
.ogti-planet-moon:before {
  content: "\e909";
  color: #fff;
}
