$image-size: 36px;
$image-size-small: 24px;

.msg {
    background: linear-gradient(90deg, #090e12, #111a21) !important;

    .content-box {
        display: none !important;
    }

    &.msg_new {
        background: linear-gradient(90deg, rgb(24 35 44), rgb(38 52 60)) !important;
    }
}

.detail_msg {
    .loot-row {
        background: #1f252e;
        border-radius: 5px;
        padding: 5px;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.ogame-tracker {
    &-msg {
        &--hide-content .msgContent:not(&__content),
        &--hide-content .content-box:not(&__content),
        &--hide-content .ogl_battle.ogl_clickable:not(&__content) {
            height: 0 !important;
            overflow: hidden !important;
            padding: 0 !important;
            display: none !important;
        }

        &__content {
            display: flex !important;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: -10px 0;
            padding: 0 5px 5px 12px;
        }

        :not(&--hide-content) &__content {
            margin-top: 6px;
        }

        &--error,
        &--error.msg_new {
            background: linear-gradient(90deg, #300000, #4c0707) !important;
        }

        &--ignored,
        &--ignored.msg_new {
            background: linear-gradient(90deg, #111111, #222222) !important;
        }

        &--combat-report &__content {
            margin: 0;
        }
    }

    &-expedition-result {
        display: flex;
        font-weight: bold;
        align-items: center;
        column-gap: 8px;
        color: white;

        &--depletion-level {
            font-size: 24px;

            &-none {
                color: var(--ogame-tracker--depletion-level--none);
            }

            &-low {
                color: var(--ogame-tracker--depletion-level--low);
            }

            &-medium {
                color: var(--ogame-tracker--depletion-level--medium);
            }

            &-high {
                color: var(--ogame-tracker--depletion-level--high);
            }
        }

        &--resources,
        &--darkMatter {
            .metal {
                color: var(--ogame-tracker--resource--metal);
            }

            .crystal {
                color: var(--ogame-tracker--resource--crystal);
            }

            .deuterium {
                color: var(--ogame-tracker--resource--deuterium);
            }

            .dark-matter {
                color: var(--ogame-tracker--dark-matter);
            }
        }

        &--delay {
            color: var(--ogame-tracker--expedition-event--delay);
        }

        &--early {
            color: var(--ogame-tracker--expedition-event--early);
        }

        &--pirates {
            color: var(--ogame-tracker--expedition-event--pirates);
        }

        &--aliens {
            color: var(--ogame-tracker--expedition-event--aliens);
        }

        &--combat {
            color: var(--ogame-tracker--expedition-event--combat);
        }

        &--lostFleet {
            color: var(--ogame-tracker--expedition-event--lostFleet);

            .mdi {
                font-size: 48px !important;
            }
        }

        &--fleet {
            &_wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .ship-count-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 4px;
            }

            +.resource-units {
                display: flex;
                padding: 4px;
                border-radius: 4px;
                border: 1px solid rgba(white, 0.2);
                column-gap: 8px;
                align-items: center;
                font-weight: bold;
                margin-top: 8px;

                .ogame-tracker-resource {
                    width: 24px;
                    height: 24px;
                }

                .metal {
                    color: var(--ogame-tracker--resource--metal);
                }

                .crystal {
                    color: var(--ogame-tracker--resource--crystal);
                }

                .deuterium {
                    color: var(--ogame-tracker--resource--deuterium);
                }
            }

            &--rainbow {
                position: relative;
                z-index: 1;
                border: none !important;
                padding: 8px;
                overflow: hidden;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    z-index: -1;
                    border: 2px solid;
                    border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
                    animation: 2s ogt__rainbow-border linear infinite;
                }

                @keyframes ogt__rainbow-border {
                    from {
                        --angle: 0deg;
                    }

                    to {
                        --angle: 360deg;
                    }
                }
            }
        }

        &--trader {
            color: var(--ogame-tracker--expedition-event--trader);
        }

        &--nothing {
            color: var(--ogame-tracker--expedition-event--nothing);

            >.mdi {
                font-size: 16px !important;
            }
        }

        &--item img {
            width: 50px;
            height: 50px;
            border-radius: 4px;
            border-width: 2px;
            border-style: solid;

            $ogame-item-grades: (
                "none": #2374ba,
                "bronze": #834b2d,
                "silver": #8d939c,
                "gold": #ffb84a,
                "platinum": #7e3d8e,
            );

        @each $grade, $color in $ogame-item-grades {
            &.item-grade--#{$grade} {
                border-color: $color;
            }
        }
    }

    &--size {
        &-small {
            padding: 4px;
            border-radius: 4px;
            border: 1px solid var(--ogame-tracker--expedition-size--small);

            .ogame-tracker-expedition--size-icon {
                color: var(--ogame-tracker--expedition-size--small);
                font-size: 24px !important;
            }
        }

        &-medium {
            padding: 4px;
            border-radius: 4px;
            border: 1px solid var(--ogame-tracker--expedition-size--medium);

            .ogame-tracker-expedition--size-icon {
                color: var(--ogame-tracker--expedition-size--medium);
                font-size: 28px !important;
            }
        }

        &-large {
            padding: 4px;
            border-radius: 4px;
            border: 1px solid var(--ogame-tracker--expedition-size--large);

            .ogame-tracker-expedition--size-icon {
                color: var(--ogame-tracker--expedition-size--large);
                font-size: 32px !important;
            }
        }

        &-fled-death-star {
            border: 1px solid var(--ogame-tracker--expedition-size--fled-death-star);

            .ogame-tracker-expedition--size-icon {
                color: var(--ogame-tracker--expedition-size--fled-death-star);
                font-size: 24px !important;
            }
        }
    }

    .mdi {
        font-size: 32px;
    }
}

&-lifeform-discovery-result {
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: white;
    font-weight: bold;

    &--nothing {
        color: var(--ogame-tracker--lifeform-discovery-event--nothing);

        >.mdi {
            font-size: 16px !important;
        }
    }

    &--lostShip {
        color: var(--ogame-tracker--lifeform-discovery-event--lostShip);

        .mdi {
            font-size: 20px !important;
        }
    }

    &--knownLifeformFound,
    &--newLifeformFound {
        display: inline-flex;
        column-gap: 4px;
        align-items: center;

        .ogame-tracker_lifeform-icon {
            border-radius: 4px;
            border: 1px solid;
            min-width: 0 !important;

            &--humans {
                border-color: var(--ogame-tracker--lifeform--humans);

                +span {
                    color: var(--ogame-tracker--lifeform--humans);
                }
            }

            &--rocktal {
                border-color: var(--ogame-tracker--lifeform--rocktal);

                +span {
                    color: var(--ogame-tracker--lifeform--rocktal);
                }
            }

            &--mechas {
                border-color: var(--ogame-tracker--lifeform--mechas);

                +span {
                    color: var(--ogame-tracker--lifeform--mechas);
                }
            }

            &--kaelesh {
                border-color: var(--ogame-tracker--lifeform--kaelesh);

                +span {
                    color: var(--ogame-tracker--lifeform--kaelesh);
                }
            }
        }
    }

    &--newLifeformFound {
        >.mdi {
            font-size: 28px;
            color: var(--ogame-tracker--lifeform-discovery-event--newLifeformFound);
        }
    }

    &--artifacts {
        padding-right: 8px !important;

        >.mdi {
            font-size: 28px;
            color: var(--ogame-tracker--lifeform-discovery-event--artifacts);
        }

        &--size {
            &-normal {
                padding: 4px;
                border-radius: 4px;
                border: 1px solid var(--ogame-tracker--lifeform-discovery-result--artifacts--size--normal);

                .ogame-tracker-lifeform-discovery-result--size-icon {
                    color: var(--ogame-tracker--lifeform-discovery-result--artifacts--size--normal);
                    font-size: 24px !important;
                }
            }

            &-big {
                padding: 4px;
                border-radius: 4px;
                border: 1px solid var(--ogame-tracker--lifeform-discovery-result--artifacts--size--big);

                .ogame-tracker-lifeform-discovery-result--size-icon {
                    color: var(--ogame-tracker--lifeform-discovery-result--artifacts--size--big);
                    font-size: 28px !important;
                }
            }

            &-huge {
                padding: 4px;
                border-radius: 4px;
                border: 1px solid var(--ogame-tracker--lifeform-discovery-result--artifacts--size--huge);

                .ogame-tracker-lifeform-discovery-result--size-icon {
                    color: var(--ogame-tracker--lifeform-discovery-result--artifacts--size--huge);
                    font-size: 32px !important;
                }
            }

            &-full {
                padding: 4px;
                border-radius: 4px;
                border: 1px solid var(--ogame-tracker--lifeform-discovery-result--artifacts--size--full);

                .ogame-tracker-lifeform-discovery-result--size-icon {
                    color: var(--ogame-tracker--lifeform-discovery-result--artifacts--size--full);
                    font-size: 28px !important;
                }
            }
        }
    }
}

&-debris-field-report, &-transport-report {
    display: inline-grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    font-weight: bold;
    align-items: center;
    justify-items: center;
    column-gap: 16px;

    border: 1px solid rgba(white, 0.25);
    padding: 4px;
    border-radius: 4px;

    color: white;

    & .no-resources {
        color: rgba(white, 0.3);
    }
}

&-combat-report {
    color: white;
    font-weight: bold;
    display: grid;
    gap: 8px;
    justify-items: center;

    .ogame-tracker-resource {
        width: $image-size-small;
        height: $image-size-small;
        margin-left: 16px;
    }

    &--loot-table {
        display: inline-grid;
        grid-template-columns: repeat(3, auto 1fr);
        align-items: center;
        gap: 4px;

        padding: 4px;
        border: 1px solid rgba(white, 0.25);
        border-radius: 4px;
    }

    &--debris-field-table {
        display: inline-grid;
        grid-template-columns: auto repeat(3, auto 1fr);
        align-items: center;
        gap: 4px;

        padding: 4px;
        border: 1px solid rgba(white, 0.25);
        border-radius: 4px;

        >.head {
            grid-column: 1 / span 4;
            justify-self: center;
        }

        .ogti-debris-field {
            font-size: 24px;
        }
    }

    &--negative-loot {
        color: #d43635;
    }

    &--no-loot {
        color: rgba(white, 0.3);
    }
}

&-resource,
&-ship {
    width: $image-size;
    height: $image-size;
    display: inline-block;
    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    border-radius: 4px;
}

&-resource {
    $resources: (
        "metal",
        "crystal",
        "deuterium",
        "energy",
        "dark-matter",
        "tritium"
    );

@each $resource in $resources {
    &.#{$resource} {
        background-image: url(#{$base-url}/img/ogame/resources/#{$resource}.upscaled.png);
    }
}
}

&-ship {
    $ships: (
        202: "small-cargo",
        203: "large-cargo",
        204: "light-fighter",
        205: "heavy-fighter",
        206: "cruiser",
        207: "battleship",
        208: "colony-ship",
        209: "recycler",
        210: "espionage-probe",
        211: "bomber",
        212: "solar-satellite",
        213: "destroyer",
        214: "death-star",
        215: "battlecruiser",
        217: "crawler",
        218: "reaper",
        219: "pathfinder",
    );

@each $number, $ship in $ships {
    &.ship-#{$number} {
        background-image: url(#{$base-url}/img/ogame/ships/#{$ship}.jpg);
    }
}
}

// taken from https://projects.lukehaas.me/css-loaders/ and adjusted
&-loader {
    font-size: 20px;
    position: relative;
    text-indent: -9999em;
    border-radius: 50%;
    width: 1em;
    height: 1em;

    border: 0.11em solid transparent;
    border-left: 0.11em solid #ffffff;

    transform: translateZ(0);
    animation: load8 1s infinite ease-in-out;
}

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
}



//#region april fools
.dm-patched {
    height: 75px;
    width: 113px;
    margin-bottom: 16px;
    background-image: url(#{$base-url}/img/april-fools/dm-patched.png);
    background-size: cover;
    background-position: center;
}

.lifeform-item-icon.lifeform5 {
    background-image: url(#{$base-url}/img/april-fools/muh-vi.png) !important;
    background-size: cover !important;
}

.lifeform-item-icon.lifeform6 {
    background-image: url(#{$base-url}/img/april-fools/jooda.png) !important;
    background-size: cover !important;
}

.lifeform-item-icon.lifeform7 {
    background-image: url(#{$base-url}/img/april-fools/nebearla.png) !important;
    background-size: cover !important;
}

.lifeform-item-icon.lifeform8 {
    background-image: url(#{$base-url}/img/april-fools/quokkok.png) !important;
    background-size: cover !important;
}

.lifeform-item-icon.lifeform9 {
    background-image: url(#{$base-url}/img/april-fools/racool.png) !important;
    background-size: cover !important;
}

//#endregion