$image-size: 36px;
$image-size-small: 24px;

.msg {
    background: linear-gradient(90deg, #090e12, #111a21) !important;

    &.msg_new {
        background: linear-gradient(90deg, rgb(24 35 44), rgb(38 52 60)) !important;
    }
}

.ogame-tracker {
    &-msg {
        &--hide-content .msg_content:not(&__content) {
            height: 0 !important;
            overflow: hidden !important;
            padding: 0 !important;
        }

        &__content {
            display: flex !important;
            justify-content: center;
            margin: -10px 0;
            padding: 0 5px 5px 12px;
        }

        &--error,
        &--error.msg_new {
            background: linear-gradient(90deg, #300000, #4c0707) !important;
        }

        &--ignored,
        &--ignored.msg_new {
            background: linear-gradient(90deg, #111111, #222222) !important;
        }

        &--combat-report &__content {
            margin: 0;
        }
    }

    &-expedition-result {
        display: flex;
        font-weight: bold;
        align-items: center;
        column-gap: 8px;
        color: white;

        &--resources,
        &--darkMatter {
            .metal {
                color: var(--ogame-tracker--resource--metal);
            }
            .crystal {
                color: var(--ogame-tracker--resource--crystal);
            }
            .deuterium {
                color: var(--ogame-tracker--resource--deuterium);
            }

            .dark-matter {
                color: var(--ogame-tracker--dark-matter);
            }
        }

        &--delay {
            color: var(--ogame-tracker--expedition-event--delay);
        }

        &--early {
            color: var(--ogame-tracker--expedition-event--early);
        }

        &--pirates {
            color: var(--ogame-tracker--expedition-event--pirates);
        }
        &--aliens {
            color: var(--ogame-tracker--expedition-event--aliens);
        }

        &--lostFleet {
            color: var(--ogame-tracker--expedition-event--lostFleet);

            .mdi {
                font-size: 48px !important;
            }
        }

        &--fleet {
            &_wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .ship-count-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 4px;
            }

            + .resource-units {
                display: flex;
                padding: 4px;
                border-radius: 4px;
                border: 1px solid rgba(white, 0.2);
                column-gap: 8px;
                align-items: center;
                font-weight: bold;
                margin-top: 8px;

                .ogame-tracker-resource {
                    width: 24px;
                    height: 24px;
                }

                .metal {
                    color: var(--ogame-tracker--resource--metal);
                }
                .crystal {
                    color: var(--ogame-tracker--resource--crystal);
                }
                .deuterium {
                    color: var(--ogame-tracker--resource--deuterium);
                }
            }
        }

        &--trader {
            color: var(--ogame-tracker--expedition-event--trader);
        }

        &--nothing {
            color: var(--ogame-tracker--expedition-event--nothing);

            > .mdi {
                font-size: 16px !important;
            }
        }

        &--item img {
            width: 50px;
            height: 50px;
            border-radius: 4px;
            border-width: 2px;
            border-style: solid;

            $ogame-item-grades: (
                "none": #2374ba,
                "bronze": #834b2d,
                "silver": #8d939c,
                "gold": #ffb84a,
                "platinum": #7e3d8e,
            );
            @each $grade, $color in $ogame-item-grades {
                &.item-grade--#{$grade} {
                    border-color: $color;
                }
            }
        }

        &--size {
            &-small {
                padding: 4px;
                border-radius: 4px;
                border: 1px solid var(--ogame-tracker--expedition-size--small);

                .ogame-tracker-expedition--size-icon {
                    color: var(--ogame-tracker--expedition-size--small);
                    font-size: 24px !important;
                }
            }
            &-medium {
                padding: 4px;
                border-radius: 4px;
                border: 1px solid var(--ogame-tracker--expedition-size--medium);

                .ogame-tracker-expedition--size-icon {
                    color: var(--ogame-tracker--expedition-size--medium);
                    font-size: 28px !important;
                }
            }
            &-large {
                padding: 4px;
                border-radius: 4px;
                border: 1px solid var(--ogame-tracker--expedition-size--large);

                .ogame-tracker-expedition--size-icon {
                    color: var(--ogame-tracker--expedition-size--large);
                    font-size: 32px !important;
                }
            }
        }

        .mdi {
            font-size: 32px;
        }
    }

    &-debris-field-report {
        display: inline-grid;
        grid-template-columns: repeat(2, 1fr);
        font-weight: bold;
        align-items: center;
        justify-items: center;
        column-gap: 16px;

        border: 1px solid rgba(white, 0.25);
        padding: 4px;
        border-radius: 4px;
    }

    &-combat-report {
        color: white;
        font-weight: bold;
        display: grid;
        gap: 8px;
        justify-items: center;

        .ogame-tracker-resource {
            width: $image-size-small;
            height: $image-size-small;
            margin-left: 16px;
        }

        &--loot-table {
            display: inline-grid;
            grid-template-columns: repeat(3, auto 1fr);
            align-items: center;
            gap: 4px;

            padding: 4px;
            border: 1px solid rgba(white, 0.25);
            border-radius: 4px;
        }

        &--debris-field-table {
            display: inline-grid;
            grid-template-columns: auto repeat(2, auto 1fr);
            align-items: center;
            gap: 4px;

            padding: 4px;
            border: 1px solid rgba(white, 0.25);
            border-radius: 4px;

            > .head {
                grid-column: 1 / span 4;
                justify-self: center;
            }
        }

        &--negative-loot {
            color: #d43635;
        }

        &--no-loot {
            color: rgba(white, 0.3);
        }
    }

    &-resource,
    &-ship {
        width: $image-size;
        height: $image-size;
        display: inline-block;
        background-size: cover;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: crisp-edges;
        border-radius: 4px;
    }

    &-resource {
        $resources: ("metal", "crystal", "deuterium", "energy", "dark-matter", "tritium");
        @each $resource in $resources {
            &.#{$resource} {
                background-image: url(#{$base-url}/img/ogame/resources/#{$resource}.upscaled.png);
            }
        }
    }

    &-ship {
        $ships: (
            202: "small-cargo",
            203: "large-cargo",
            204: "light-fighter",
            205: "heavy-fighter",
            206: "cruiser",
            207: "battleship",
            208: "colony-ship",
            209: "recycler",
            210: "espionage-probe",
            211: "bomber",
            212: "solar-satellite",
            213: "destroyer",
            214: "death-star",
            215: "battlecruiser",
            217: "crawler",
            218: "reaper",
            219: "pathfinder",
        );
        @each $number, $ship in $ships {
            &.ship-#{$number} {
                background-image: url(#{$base-url}/img/ogame/ships/#{$ship}.jpg);
            }
        }
    }

    // taken from https://projects.lukehaas.me/css-loaders/ and adjusted
    &-loader {
        font-size: 20px;
        position: relative;
        text-indent: -9999em;
        border-radius: 50%;
        width: 1em;
        height: 1em;

        border: 0.11em solid transparent;
        border-left: 0.11em solid #ffffff;

        transform: translateZ(0);
        animation: load8 1s infinite ease-in-out;
    }
    @keyframes load8 {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    &-debris-field-icon {
        width: $image-size-small;
        height: $image-size-small;
        background-size: cover;
        background-image: url(#{$base-url}/img/ogame/misc/debris-field-icon.svg);
    }
}
