//TODO: fix styles
.ogame-tracker-msg-processed {
    background: green !important;
}

.ogame-tracker-msg-waiting-to-process {
    background: yellow !important;
}

.ogame-tracker-msg-failed-to-process {
    background: red !important;
}

.ogame-tracker-msg-ignored {
    background: purple !important;
}