input:not([type]),
input[type="text"],
input[type="password"],
input[type="number"],
button {
    background: black linear-gradient(0deg, rgba(var(--color), 0.3), rgba(var(--color), 0.3));
    border: 1px solid rgba(var(--color), 0.1);
    border-radius: 4px;
    padding: 2px 6px;
    color: white;
    outline: none;

    &:not(input:read-only) {
        &:hover,
        &:focus {
            border-color: rgb(var(--color));
            background: black linear-gradient(0deg, rgba(var(--color), 0.5), rgba(var(--color), 0.5));
        }
    }

    &:not(button):read-only,
    &:disabled {
        cursor: default;
    }

    &:disabled {
        filter: grayscale(1);
    }
}

button {
    cursor: pointer;
}
